<h5 class="card-title">{{title}}</h5>
{{#if subtitle}}
  <h6 class="card-subtitle mb-2 text-muted">{{subtitle}}</h6>
{{/if}}
<ul>
  {{#each steps as |step|}}
    <li class="card-text">{{icon-fill step}}</li>
  {{/each}}
</ul>
