@font-face {
    font-family: 'redfiveregular';
    src: url('./fonts/redfive_-webfont.woff2') format('woff2'),
         url('./fonts/redfive_-webfont.woff') format('woff'),
				 url('./fonts/redfive_-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #1D1E18;
}

a {
	font-family: 'redfiveregular';
  color: #D7DEDC;
  text-decoration: none;
}

a:hover {
  color: #8C6788;
}

.navbar-brand {
	font-family: 'redfiveregular';
  color: #D7DEDC;
}

.icon-credits {
  background-image: url("/images/icons/credits.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 14px;
  display: inline-block;
}

.icon-negative {
  background-image: url("/images/icons/negative.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 14px;
  display: inline-block;
}

.index-card {
  width: 31%;
  margin: 1%;
}

.card-title-index {
  font-size: 90%;
  text-align: center;
  margin-bottom: 40%;
}

.btn {
  color: #1D1E18;
  background-color: #D7DEDC;
  border: 1px solid #393E41;
	font-family: 'redfiveregular';
  -moz-transform: rotate(355deg);
	-webkit-transform: rotate(355deg);
	-o-transform: rotate(355deg);
	-ms-transform: rotate(355deg);
	transform: rotate(355deg);
}

.btn:hover {
  background-color: #393E41;
  border: 1px solid #8C6788;
}

.btn-index {
  display: block;
  width: 75%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.card-footer {
  position: fixed;
  bottom: 0px;
  background: none;
  border: none;
}

.navbar {
  background-color: #393E41;
  color: #1D1E18;
  text-color: black;
  border-bottom: 1px solid #8C6788;
}

.nav-link: {
  color: black;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 75px;
  border: 1px solid #393E41;
}

@media only screen and (min-width: 1300px) {
  .index-card {
    width: 23%;
    margin: 1%;
  }
}

@media only screen and (max-width: 700px) {
  .index-card {
    width: 48%;
    margin: 1%;
  }
}

@media only screen and (max-width: 500px) {
  .index-card {
    width: 100%;
    margin: 1%;
  }
}
