<li class="list-group-item">
  <h6 class="card-title">
    <span data-test-title>{{@title}}</span>
    {{#if @subtitle}}
      <span> - <small class="text-muted" data-test-subtitle>{{@subtitle}}</small></span>
    {{/if}}
  </h6>
  <ul>
    {{#each @steps as |step|}}
      <li class="card-text" data-test-step>{{icon-fill step}}</li>
    {{/each}}
  </ul>
</li>
