<h3>AI Characters</h3>
<div class="d-flex flex-wrap">
  {{#each model as |character|}}
  <div style="background-image: url({{character.image}})" class="card mb-3 index-card">
      <div class="card-body">
        <h5 class="card-title card-title-index"></h5>
        {{#link-to "characters.show" character.slug class="btn btn-primary btn-index"}}{{character.name}}{{/link-to}}
      </div>
    </div>
  {{/each}}
</div>
