<nav class="navbar navbar-expand-lg nav-custom">
  <a class="navbar-brand" href="/characters">Chalmun's Cantina</a>
  <div class="navbar-nav">
    <LinkTo @route="characters" class="nav-item nav-link">Characters</LinkTo>
  </div>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>
