<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Chalmun's Cantina</a>
  <div class="navbar-nav">
    {{#link-to "characters" class="nav-item nav-link"}}Characters{{/link-to}}
  </div>
</nav>

{{outlet}}
